@CHARSET "UTF-8";
.gwt-SplitLayoutPanel{
	background-color: #EEE;	
}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-HDragger{
	/*cursor: col-resize;*/
	background-color: #EEE;
	/*background: #EEEEEE url(images/splitPanelThumb.png) no-repeat scroll center center*/
}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-VDragger{
	/*cursor: row-resize;*/
	background-color: #EEE;
}