<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  
  <!-- Task -->
  <servlet>
    <servlet-name>taskServlet</servlet-name>
    <servlet-class>com.reflect7.plansation.server.remoteservice.TaskServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>taskServlet</servlet-name>
    <url-pattern>/plansation/task</url-pattern>
  </servlet-mapping>
  
    <!-- Iteration -->
  <servlet>
    <servlet-name>iterationServlet</servlet-name>
    <servlet-class>com.reflect7.plansation.server.remoteservice.IterationServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>iterationServlet</servlet-name>
    <url-pattern>/plansation/iteration</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Plansation.html</welcome-file>
  </welcome-file-list>

</web-app>
